header {
    background-color: #FFCC99;
    box-shadow: 10px 5px 5px rgba(0, 0, 0);
}
h1{
    font-weight: bold;
    text-align: center;
}
main {
    background-color: #E6F2FF;
    display: flex;
}
aside {
    background-color: #B3D9FF;
    flex: 1 1 0% ;
}
section {
    margin: 20px;
    flex: 3 1 0% ;
}
footer {
    background-color: #99CC99;
    box-shadow: 10px 5px 5px rgba(0,0,0);
}
aside, footer{
    border: 1px solid #ccc;
}